@charset "utf-8";

@font-face {
    /* ① ここにfont-familyで指定したい名前を書く*/
    font-family: "myfont";
    /* フォントが置かれているパスを書く */
    src: url("../../font/SoukouMincho.ttf") format("truetype");
}

body {
    font-family: "myfont";
    width: 100%;
    overflow-x: hidden;
    background: #171b20;
}

@media screen and (min-width: 1201px) {

    #select_chara {
        width: 100%;
        padding-bottom: 10vw;
    }

    #select_chara div {
        width: 100%;
        text-align: center;
        padding-top: 7em;
        margin-bottom: 3em;
    }

    #select_chara div h2 {
        font-size: 2.5em;
        color: white;
        margin-bottom: 0.3em;
    }

    #select_chara div span {
        color: #b0b0b0;
    }

    #select_chara ul {
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #select_chara ul li {
        width: 160px;
        height: 220px;
        overflow: hidden;
        margin: 0.5em;
        border-radius: 0.3em;
        border: solid 3px #171b20;
        transition: 0.3s;
    }

    #select_chara ul li a {
        position: relative;
        width: 160px;
        height: 220px;
    }

    #select_chara ul li a img {
        height: 100%;
        transition: 0.3s;
    }

    #select_chara ul li a span {
        position: absolute;
        width: 160px;
        z-index: 5;
        bottom: 0;
        margin-bottom: -1px;
        left: 0;
        text-align: center;
        color: white;
        text-shadow: 0 0 1px white;
        transition: 0.3s;
        background: linear-gradient(0deg, #171b20c6, 80%, rgba(255, 255, 255, 0));
        padding: .3em;
    }

    #select_chara ul li:hover {
        border: solid 3px #e9ff20;
    }

    #select_chara ul li:hover img {
        transform: scale(105%);
    }

    #select_chara ul li:hover span {
        color: #e9ff20;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {}

@media screen and (max-width: 767px) {
    #select_chara {
        width: 100%;
        padding-bottom: 10vw;
    }

    #select_chara div {
        width: 100%;
        text-align: center;
        padding-top: 5em;
        margin-bottom: 1em;
    }

    #select_chara div h2 {
        font-size: 1.6em;
        color: white;
        margin-bottom: 0.3em;
    }

    #select_chara div span {
        color: #b0b0b0;
        font-size: .9em;
    }

    #select_chara ul {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #select_chara ul li {
        width: 25vw;
        max-width: 160px;
        height: 34.375vw;
        max-height: 220px;
        overflow: hidden;
        margin: 0.5em;
        border-radius: 0.3em;
        border: solid 3px #171b20;
        transition: 0.3s;
    }

    #select_chara ul li a {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #select_chara ul li a img {
        height: 100%;
        filter: grayscale(1);
        transition: 0.3s;
    }

    #select_chara ul li a span {
        display: none;
    }

    #select_chara ul li:hover {
        border: solid 3px #e9ff20;
    }

    #select_chara ul li:hover img {
        filter: grayscale(0);
    }

    #select_chara ul li:hover span {
        color: #e9ff20;
    }

    #select_chara ul .now {
        border: solid 3px #e9ff20;
    }

    #select_chara ul .now a img {
        filter: grayscale(0);
    }

    #select_chara ul .now a span {
        color: #e9ff20;
    }
}