@charset "UTF-8";

#top img {
  /* filter: invert(8%) sepia(50%) saturate(200%) hue-rotate(150deg) brightness(150%) contrast(180%); */
}

@media screen and (min-width: 1201px) {

  #top {
    background-image: url(../../../image/character/pc/chara04.png);
  }

  #detail {
    background-image: url(../../../image/character/chara04/chara_detail01.png);
    background-size: 120%;
    background-position-x: 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {}

@media screen and (max-width: 767px) {
  #top {
    background-image: url(../../../image/character/md/chara04.png);
  }


  #detail {
    background-image: url(../../../image/character/chara04/mb_chara_detail01.png);
    background-size: cover;
  }
}