@charset "UTF-8";

#top {
  background-image: url(../../../image/character/pc/chara02.png);
}

#top img {
  /* filter: invert(8%) sepia(50%) saturate(200%) hue-rotate(150deg) brightness(150%) contrast(180%); */
}

#detail {
  background-image: url(../../../image/character/chara02/chara_detail01.png);
  background-size: 120%;
}