@charset "UTF-8";

#top {
  background-image: url(../../../image/character/pc/chara06.png);
}

#top img {
  filter: invert(8%) sepia(50%) saturate(300%) hue-rotate(300deg) brightness(150%) contrast(220%);
}

#detail {
  background-image: url(../../../image/character/chara06/chara_detail01.png);
  background-size: 110%;
}