@charset "UTF-8";

#top img {
  filter: invert(8%) sepia(70%) saturate(150%) hue-rotate(365deg) brightness(200%) contrast(220%);
}

@media screen and (min-width: 1201px) {

  #top {
    background-image: url(../../../image/character/pc/chara09.png);
  }


  #detail {
    background-image: url(../../../image/character/chara09/chara_detail01.png);
    background-size: 120%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {}

@media screen and (max-width: 767px) {
  #top {
    background-image: url(../../../image/character/md/chara09.png);
  }


  #detail {
    background-image: url(../../../image/character/chara09/mb_chara_detail01.png);
    background-size: cover;
  }
}