@charset "UTF-8";

#top {
  background-image: url(../../../image/character/pc/chara13.png);
}

#top img {
  filter: invert(8%) sepia(80%) saturate(300%) hue-rotate(365deg) brightness(170%) contrast(220%);
}

#detail {
  background-image: url(../../../image/character/chara13/chara_detail01.png);
  background-size: 140%;
}